<div class="container">  
  <div class="row">
    <div class="col-md-12">
      <% if @post.authority == "All" || @post.user == current_user %> 
        <%= render partial:"shared/post_show" %>

      <% elsif @post.authority == "Myself" %>
        <h2 class="text-center" style="margin-top: 100px;">只有作者 <%= @post.user.name %> 本人有權限去觀看此則貼文</h2>

      <% elsif @post.authority == "Friend" %>
        <% if @post.user.friend?(current_user) %>
          <%= render partial:"shared/post_show" %>

        <% else %>
          <h2 class="text-center" style="margin-top: 100px;">你不是 <%= @post.user.name %> 的朋友，沒有權限去觀看此則貼文</h2>
          
        <% end %>
      <% end %>

    </div>
  </div>
</div>