/*====application====*/ 
body{
  margin-top: 80px;

}

.navbar-right .user-avatar{
  margin: -10px;  
}
    

.alert {
  position: absolute;
  margin-top: 1.0rem;
  margin-left: 73%;
  z-index: 99;
}

/*====post#index category#show====*/ 
.nav-pills-center{
  text-align: center;
}

.nav-pills-center li{
  float: none;
  display: inline-block;  
}

/*====post#show====*/ 
.post-icon {
  float: right;
  font-size: 20px;
  padding: 5px;
  margin: 0 5px 0 5px;
  border: solid 1px;
  border-radius: 5px;
}

.post-content , .reply-content{
  padding: 20px; 
}

.reply-background{
  background-color: #f2f2f2;
}

