/*====application====*/ 
body{
  margin-top: 80px;

}

.navbar-right .user-avatar{
  margin: -10px;  
}
    

.alert {
  position: absolute;
  margin-top: 1.0rem;
  margin-left: 73%;
  z-index: 99;
}

/*====post#index category#show====*/ 
.nav-pills-center{
  text-align: center;
}

.nav-pills-center li{
  float: none;
  display: inline-block;  
}