/*====application====*/ 
body{
  margin-top: 80px;

}

.navbar-right .user-avatar{
  margin: -10px;  
}
    
.flash-remind{
  margin-top: -20px;
}

/*====post#index category#show====*/ 
.nav-pills-center{
  text-align: center;
}

.nav-pills-center li{
  float: none;
  display: inline-block;  
}